.donutLowerChart {
  padding: 15px;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #333333;
  /* padding-bottom: 0; */
}

.headinggg {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 300;
  height: 10%;
}

.down {
  height: 90%;
  display: flex;
  flex-direction: row;
}

.chartt {
  margin-top: 5%;
  height: 88%;
  width: 60%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-rows: 100%;
  justify-content: center;
}

.second {
  padding-left: 30px;
  height: 90%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.circle6 {
  background-color: #018e42;
}

.circle7 {
  background-color: #ed1b24;
}
