@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 300;
  margin-left: 13px;
}

.sidebarOption {
  width: 80%;
  height: 4.5%;
  margin: 5px auto;
  display: flex;
  align-items: center;
  color: #0c58e6;
  margin-right: 25px;
  padding-left: 20px;
  border-radius: 6px;
}

.sidebarOption:hover {
  background-color: #b3c9fa;
  color: #004bd5;
  cursor: no-drop;
}

.sidebarOption--active {
  background-color: #0c58e6;
  color: white;
  border-radius: 6px;
}

.sidebarOption--active:hover {
  background-color: #0c58e6;
  color: white;
  cursor: auto;
}
